/* ═══════════════════════════════════════════════════════════════════════
   TOOLTIP — Design Tokens
   ═══════════════════════════════════════════════════════════════════════ */

:root {
	--color-tool-tip-bg: var(--color-alpha-zero-transparency);
	--color-tool-tip-body: var(--color-surface-brand-primary);
	--color-tool-tip-text: var(--color-text-statics-pure-white);
}

@theme {
	--color-tool-tip-bg: var(--color-tool-tip-bg);
	--color-tool-tip-body: var(--color-tool-tip-body);
	--color-tool-tip-text: var(--color-tool-tip-text);
}
